$masterBackground: #f6f6f6;
$darkerGray: #121212;
$darkGray: #252525;
$mediumGray: #373737;
$lightGray: #525252;
$lighterGray: #aaaaaa;
$lightestGray: #eeeeee;

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	h3 {
		align-self: center;
		font-size: 2rem;
		color: #696969;
	}

	.signup-form {
		aspect-ratio: 1;
		max-width: 25rem;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2rem;
		gap: 1.25rem;
		background-color: white;
		box-shadow: 2px 2px .5rem rgba(0, 0, 0, 0.1);

		h3 {
			position: relative;
		}

		.crossout-up {
			position: absolute;
			top: .25rem;
			left: -.75rem;
			height: 2rem;
			transform: scaleX(.9);
		}

		.crossout-down {
			position: absolute;
			top: .25rem;
			left: -.75rem;
			height: 2rem;
			transform: scaleX(.9) rotate(30deg);
		}

		section {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 1rem;

			.registrant-name {
				display: flex;
				gap: 1rem;
			}

			.input-field {
				display: flex;
				flex-direction: column;
				gap: .25rem;
			}

			label {
				font-size: 1.125rem;
				color: $darkGray;
			}

			.input-container {
				position: relative;
				display: flex;
				align-items: center;
				width: 100%;
			}

			input {
				border: none;
				border-bottom: 1px solid $darkGray;
				height: 2.25rem;
				padding-left: 0.25rem;
				font-size: 1.125rem;
				background-color: $masterBackground;
				color: $darkGray;
				width: 100%;

				&:focus {
					outline: none;
					background-color: white;
				}

				&[type='password'] {
					font-size: 1.5rem;
				}
			}

			input:-webkit-autofill {
				background-color: transparent !important;
				box-shadow: 0 0 0px 1000px white inset !important;
			}

			.validatePw {
				position: absolute;
				right: 0.25rem;
			}

			.visible {
				position: absolute;
				right: 0.25rem;
			}
		}


		button {
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: center;
			gap: .5rem;
			border: none;
			border-radius: 5px;
			font-size: 1.25rem;
			padding: 1rem;
			width: 80%;
			color: white;
			background-color: $lightGray;
		}

		.back-submit {
			display: flex;
			width: 100%;
			gap: 1rem;

			.back {
				display: flex;
				width: auto;
			}

			.submit {
				display: flex;
			}
		}

		.alert {
			color: red;
			text-align: center;
		}

		.password-requirements {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: .125rem;
			width: 100%;
			font-size: .75rem;

			.requirement {
				display: flex;
				align-items: center;
				gap: .125rem;
				height: .75rem;
				padding-left: 1rem;
			}
		}

		.validation-error {
			text-align: left;
			margin-top: -0.5rem;
		}

		span {
			text-align: center;
		}

		.link {
			font-weight: bold;
			text-decoration: underline;
			color: red;
			cursor: pointer;
		}
	}
}
