$masterBackground: #f6f6f6;
$darkerGray: #121212;
$darkGray: #252525;
$mediumGray: #373737;
$lightGray: #525252;
$lighterGray: #aaaaaa;
$lightestGray: #eeeeee;

// * {
// 	border: 1px solid red !important;
// }

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: $masterBackground;

	.misspelled {
		text-decoration: underline wavy red;
		text-decoration-skip-ink: none;
	}

	.home-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
}
